@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #04D4F0;
}

header{
    background-color: #04D4F0;
}

header h1{
    text-align: center;
    padding: 32px;
    color: #1b1b1b
}
.list{
    max-width: 700px;
    margin: 0 auto;
}
ul{
    margin-top: 20px;
}
li{
    margin: 10px 0;
}
section{
    display: flex;
    align-items: center;
    background: #059DC0;
    color: #FFF;
    padding: 40px 0;
    height: 50vh;
    margin: auto 0;
}
form{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
label{
    display: inline-flex;
    flex-direction: column;
    padding: 0 10px;
}
input[type=button]{
    border: none;
    background-color: #04ECF0;
    padding: 4px 16px;
    margin: auto;
}
.anchor-wrapper{
    display: flex;
    justify-content: center;
    padding: 18px 0;
}
a{
    display: inline-block;
    margin: 0 auto;
    color: #FFF;
}